
      @-webkit-keyframes biilogo-pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }

        50% {
          -webkit-transform: scale3d(0.95, 0.95, 0.95);
          transform: scale3d(0.95, 0.95, 0.95);
        }

        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }

      @keyframes biilogo-pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }

        50% {
          -webkit-transform: scale3d(0.95, 0.95, 0.95);
          transform: scale3d(0.95, 0.95, 0.95);
        }

        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }

      @keyframes biilogo-pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }

        50% {
          -webkit-transform: scale3d(0.95, 0.95, 0.95);
          transform: scale3d(0.95, 0.95, 0.95);
        }

        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }

      .bii-player {
        position: fixed;
        bottom: 70px;
        left: 50px;
        width: 40px;
        height: 40px;
        z-index: 99999;
        display: none;
      }

      .bii-player .playerIcon {
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #df4758;
        padding-top: 7px;
        padding-left: 9px;
        position: absolute;
        z-index: 2;
      }

      .bii-player:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        background-color: rgba(242, 59, 67, 0.3);
        width: 120%;
        height: 120%;
        left: -10%;
        top: -10%;
        -webkit-animation: biilogo-pulse 1s infinite;
        animation: biilogo-pulse 1s infinite;
        z-index: 1;
      }

      .bii-player img {
        width: 100%;
        z-index: 99999;
        position: absolute;
        cursor: pointer;
      }

      .bii-player.show-sec .bii-player-secondary {
        visibility: visible;
      }

      .bii-player.show-sec .bii-player-secondary-content {
        transform: translate3d(0, 0, 0);
      }

      .bii-player-secondary {
        position: absolute;
        width: 310px;
        left: 25px;
        height: 50px;
        overflow: hidden;
        visibility: hidden;
      }

      .bii-player-secondary-content {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        position: absolute;
        width: 310px;
        left: -25px;
        background: #fff;
        height: 40px;
        padding: 8px 11px 8px 50px;
        border: 1px solid #df4759;
        border-radius: 30px;
        z-index: 1;
        font-size: 14px;
        transform: translate3d(-100%, 0, 0);
        transition: transform 175ms ease;
        font-family: arial;
        font-weight: 200;
        color: #000;
      }

      @media (max-width: 799px) {
        .bii-player {
          bottom: 30px;
          left: 20px;
        }
      }
 